#titles {
    display: flex;
    /* Sử dụng flexbox để xếp các phần tử con */
    flex-direction: row;
    /* Xếp các phần tử con theo chiều ngang */
    justify-content: space-between;
    /* Các phần tử con sẽ được căn cách xa nhau */
}


#searchInput {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    /* Độ rộng của ô nhập liệu */
}

/* Định dạng nút tìm kiếm */
#searchButton {
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 100%;
    background-color: #ffffff;
    /* Để nút không có nền */
    cursor: pointer;
    vertical-align: middle;
    /* Căn giữa theo chiều dọc */
}