#breadcrumb-component {
    height: 70px;
    margin: 0;
    max-height: 60px;
    display: flex;
    /* Sử dụng flexbox */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    justify-content: flex-start;
    /* Căn phải */
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 10px 10px 0px rgba(207, 207, 207, 0.5); /* Bóng với độ mờ và màu sắc */
            /* Các giá trị đại diện cho (horizontal offset, vertical offset, blur radius, spread radius, color) */
}


#breadcrumb-component div {
    margin-right: 10px;
}

hr {
    margin: 0;
}